@import url(../../blocks/section/section.css);
@import url(../../blocks/section/__title/section__title.css);
@import url(../../blocks/section/__subtitle/section__sebtitle.css);
@import url(../../blocks/section/__text/section__text.css);



.about__table {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
    padding: 60px 0 0;
}

.table__text {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    color: #A0A0A0;
}

.table__text_theme_green {
    background-color: #3DDC84;
    color: #000000;
    padding: 11px 0;
}

.table__text_theme_grey {
    background-color: #303030;
    color: #FFFFFF;
    padding: 11px 0;
}